body{
    background-color: black
    
}

.line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

}

.draw-path {
    stroke-dasharray: 3000; /* Large enough value to cover entire path */
    stroke-dashoffset: 3000; /* Initially hidden */
    animation: draw 1s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .draw-path2 {
    stroke-dasharray: 3000; /* Large enough value to cover entire path */
    stroke-dashoffset: 3000; /* Initially hidden */
    animation: draw 1s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }